:root {
  /* Main Brand Colors */
  --primary-color: #59ab6e;
  --secondary-color: #212934;
  --secondary-dark: #1d242d;
  --background-color: #f8f9fa;
  --white: #ffffff;
  --section-bg: #e9eef5;
  --border-color: #dee2e6;

  /* Text */
  --text-color: #212529;
  --li-color: #dcdde1;
  --link-color: #cfd6e1;

  /* Spacing */
  --container-padding: 1.5rem;
  --section-margin: 2rem;

  /* Fonts */
  --font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body,
html {
  height: 100%;
  width: 100%;

}

/* navbar section  */
.nav-temp {
  background-color: var(--secondary-dark);
  min-height: 5vh;
  display: flex;
  padding: 0vh 9vw;
  align-items: center;
  justify-content: space-between;
}

.nav-temp a {
  text-decoration: none;
  color: var(--link-color);
  font-size: small;
  margin-right: 1.3vw;
}

.nav-temp i {
  color: var(--link-color);
  font-size: small;
}

.navbar {
  background-color: white;
  min-height: 13vh;
  display: flex;
  align-items: center;
  padding: 0vw 6vw;
}

.navbar .logo {
  margin-left: 0vh 3vw;
}

.navbar .logo h1 {
  font-size: 3.5rem;
  color: var(--primary-color);

}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 100;
}

.navbar .feature i {
  font-size: larger;
}

.navbar .items {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
}

.menu-items {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3vw;
}

.feature {
  display: flex;
  gap: 1rem;
}

/* swiper section  */
.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #d7d8d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipe .elem{
  width: 80vw;
  display: flex;
}
